<div id="<%= dom_id book %>">
  <p>
    <strong>Book name:</strong>
    <%= book.book_name %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= book.price %>
  </p>

</div>
